*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto',sans-serif;
}
h1{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
}
#text1{
    text-align: center;
    font-size: 0.9rem;
}
#text2{
    width: 24rem;
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainbox{
    padding: 0.8rem;
    border: 3px solid;
    width: 32rem;
    border-radius: 0.7rem;
}
#container{
    display: flex;
    justify-content: center;
    margin: 1.4rem 0rem;
    
}
#container input{
    margin: 0.25rem;
    width: 4.2rem;
    height: 5.9rem;
    border-radius: 0.3rem;
    border: solid rgb(231, 227, 227);
    border-width: 0.001rem;
    font-size: 4rem;
    text-align: center;
}
#container input:focus {
    outline: solid 0.15rem lightskyblue;
}
#container input:valid {
    border: solid 0.1rem lightskyblue;
    box-shadow: 0px 5px 7px -3px rgb(175, 175, 175);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
